/*
!/src
!/gradlew
!/gradlew.bat
!/gradle.properties
!/build.gradle
!/.wrapper
!/libs
!/gradle
!/settings.gradle
!/.gitignore
!/animation utils/animation_export.py
!/animation utils/player_model.blend


